<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1> Movies</h1>
    <% for(movie of movies) { %>
        <div class="cont">
            <h2><%= movie.title %></h2>
            <p><%= movie.year %></p>
            <p><%= movie.rating %></p>
            <p><%= movie.director %></p>
            <p><%= movie.genre %></p>
            
        </div>
        <% } %>
</body>
</html>